<div id="footer">
  <div class="container">
    <div class="footer_info">
      <p>Created by the <a href="http://cdrh.unl.edu">Center for Digital Research in the Humanities</a>.</p>
      <div class="footer_logo">
        <a href="http://www.unl.edu"><%= image_tag 'footer_logo.png' %></a>
      </div>
    </div><!-- /footer_info -->
  </div> <!-- /container -->
</div><!-- /footer -->
