<header id="header">
  <a href="#main-content" class="sr-only sr-only-focusable">
    Skip to main content
  </a>
  <%= render_overridable("layouts/body", "title") %>
  <%= render_overridable("layouts/body", "languages") %>
  <%= render_overridable("layouts/body", "navbar") %>
  <%= render_overridable("layouts/body", "breadcrumbs") %>
</header>
