<div id="header">
  <%= render "layouts/body/title" %>
  <%= render "layouts/body/languages" %>
  <%= render "layouts/body/navbar" %>
  <%= render "layouts/body/breadcrumbs" %>
</div><!-- /header -->
