<% if APP_OPTS.key?("languages") %>
  <% languages = APP_OPTS["languages"].split("|") %>
  <% if languages.length > 1 %>
    <div class="container language_selection">
      Languages:
      <% languages.each do |lang_code| %>
        <% active = lang_code == I18n.locale.to_s ? "active" : "" %>
        <span class="language_link">
          <%= link_to lang_code.upcase, {
            action: params["action"],
            controller: params["controller"],
            locale: lang_code
          }, class: active %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>
