<% if APP_OPTS["languages"].present? %>
  <div class="language_link btn-group" role="group" aria-label="language choice">
    <% langs = [APP_OPTS["language_default"]] +
      APP_OPTS["languages"].split("|") %>
    <% langs.each do |lang_code| %>
      <% active = lang_code == I18n.locale.to_s ?
        "btn btn-primary" : "btn btn-default" %>
      <%# create link to switch languages that keeps current parameters %>
      <%= link_to lang_code.upcase, locale_link_options(lang_code),
          class: active, hreflang: lang_code, rel: "alternate" %>
    <% end %>
  </div>
<% end %>
