<!DOCTYPE html>
<html>
<head>
  <title>Orchid</title>
  <%= stylesheet_link_tag    "orchid/application", media: "all" %>
  <%= javascript_include_tag "orchid/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
