<h1>Welcome</h1>

<p>Congratulations, you have successfully installed Orchid!</p>
<p>To begin customization, make sure that you have run the generator which will prepare your application. Copy <code>app/controllers/</code> and <code>app/views/</code> files from Orchid to the same location in this app to override them.</p>
