<h1>Welcome</h1>

<p>Congratulations, you have successfully installed Orchid!</p>
<p>To begin customization, make sure that you have run the generator which will prepare your application, then copy files from Orchid to the same location in your directory to override.</p>
