<h1>Welcome</h1>

<p>Congratulations, you have successfully installed Orchid!</p>

<p>Make sure that you have run the generator with <code>rails g setup</code>, which will prepare your application.</p>

<p>For further app configuration, read more in the <a href="https://github.com/CDRH/orchid#configuration">Orchid README Configuration section</a>.</p>
