<div class="row search_controls">
  <div class="col-md-3 search_limit">
    <% if (@res.count > 1) %>
      <%= sorter %>
    <% end %>
  </div>
  <div class="col-md-9 pagination_container">
    <%= paginator @res.pages %>
  </div>
</div>
