<p>Partial for <%= locale %> was not found, please review your application's customization and add <%= "#{@missing_partial}.html.erb" %>.</p>

<p>A common mistake is forgetting the _ underscore before a partial's name in the filesystem:  path/to/_partial.html.erb</p>
