<h1><%= t "browse.title", default: "Browse" %></h1>

<p>
  <%= link_to t("browse.all_link", default: "All Items in the Collection"), prefix_path(route_path),
        class: "btn btn-lg btn-default", rel: "search" %>
</p>
