<% if params["f"].present? || date_selection?(params["date_from"], params["date_to"]) %>
  <div class="clear-filters-container">
    <%= link_to search_path({ "q" => params["q"] }) do %>
      Clear all filters 
      <button class="btn btn-warning btn-xs">x</button>
    <% end %>
  </div>
<% end %>
