<%# TODO verify that all of the below is true for Elasticsearch %>
<button type="button" class="btn btn-link" 
        data-toggle="collapse" data-target="#search_help" 
        aria-expanded="false" aria-controls="search_help"><%= t "search.help.title", default: "Search Help" %>
</button>

<div class="collapse" id="search_help">
  <div class="well">
    <%= t "search.help.html" %>
  </div>
</div> <!-- /search_help -->
