<p>Explanatory text for a particular preset search section.</p>
<p>You may wish to override this file and leave it blank or render different content / partials for multiple search preset pages, depending on your site.</p>
