<%# expects
  - "sort_by" sort value (e.g. "title|asc")
%>

<div class="btn-group bottom-buffer-sm">

  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by: <%= sort_selected_label(sort_by) %>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <%# always start with relevancy when query present %>
    <% if params["q"].present? %>
      <li>
        <%= link_to "Relevancy", search_path(sort("relevancy|desc")) %>
      </li>
      <li role="separator" class="divider"></li>
    <% end %>

    <%# add typical sort fields underneath relevancy %>
    <% sort_fields.each do |sort_type, label| %>
      <% if sort_type.blank? %>
        <li role="separator" class="divider"></li>
      <% else %>
        <li><%= link_to label, search_path(sort(sort_type)) %></li>
      <% end %>
    <% end %>
  </ul>

</div>
