<%# expects
  - "sort_by" sort value (e.g. "title|asc")
%>

<div class="btn-group buffer-bottom-sm">

  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t "search.sort.sort_by", default: "Sort by" %>: <%= sort_selected_label("search", sort_by) %>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <% sort_fields_search.each do |sort_field, label| %>
      <%= render_overridable("sort_dropdown_item", label: label,
        sort_url: prefix_path("search_path", sort(sort_field))) %>
    <% end %>
  </ul>

</div>
