<%# expects
  - "sort_by" sort value (e.g. "title|asc")
%>

<div class="btn-group bottom-buffer-sm">

  <button type="button" class="btn btn-default dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by: <%= sort_selected_label("search", sort_by) %>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <% sort_fields_search.each do |sort_field, label| %>
      <%= render "sort_dropdown_item", label: label,
        sort_url: search_path(sort(sort_field)) %>
    <% end %>
  </ul>

</div>
