<%= render_overridable "items", "browse_header" %>

<h2><%= t "browse.browse_type", default: "Browse by" %>:</h2>
<% @page_facets.each_slice(3) do |slice| %>
  <div class="row buffer-bottom-lg">
    <% slice.each do |(facet_name, facet_info)| %>
      <div class="col-md-3">
        <% id = facet_name.parameterize(separator: ".") %>
        <%= link_to prefix_path("browse_facet_path", facet: id),
           role: "button",
          class: "btn btn-lg btn-block btn-default" do %>
          <%= facet_info["label"] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
