<h2><% t "browse.title", default: "Browse" %></h2>

<p>
  <%= link_to t("browse.all_link", default: "All Items in the Archive"), search_path,
        class: "btn btn-lg btn-default", rel: "search" %>
</p>

<h3><%= t "browse.browse_type", default: "Browse by" %>:</h3>
<% Facets.facet_info.each_slice(3) do |slice| %>
  <div class="row buffer-bottom-lg">
    <% slice.each do |(facet_name, facet_info)| %>
      <div class="col-md-3">
        <% id = facet_name.parameterize(separator: ".") %>
        <%= link_to browse_facet_path(facet: id), html_options = {"aria-controls": id, class: "btn btn-lg btn-block btn-default"} do %>
          <%= facet_info["label"] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
