<div class="row">
  <div class="col-md-6">
    <h2>
      <%= t "item.no_item", id: params["id"], default: "No item with identifier
        #{params["id"]} found!" %>
    </h2>
  </div>
  <div class="col-md-6">
    <%# This is here to be customized for specialized 404 pages %>
    <%#= image_tag "404.png" %>
  </div>
</div>
