.browse h3 {
  clear: both;
  margin: .7em 0;
}

.browsenumber {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: .1em;
}

.browselist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.browselist li {
  float: left;
}

.browselist li a {
  padding: 2px 5px;
  margin: 2px 4px 2px 0px;
  display: block;
  color: #000;
  text-decoration: none;
  background-color: #ee937d;
  color: #2e2e2e;
  border: 1px solid #e3e3d0;
}

li.qty1 a {
  background-color: #fcf3e0;
}

li.qty2 a {
  background-color: #fcecd3;
}

li.qty3 a {
  background-color: #fbe6ca;
}

li.qty4 a {
  background-color: #fae1bf;
}

li.qty5 a {
  background-color: #fad8b5;
}

li.qty6 a {
  background-color: #f7cfa9;
}

li.qty7 a {
  background-color: #f6c6a0;
}

li.qty8 a {
  background-color: #f4bb97;
}

li.qty9 a {
  background-color: #f2b08f;
}

li.qty10 a {
  background-color: #eea587;
}

li.qty11 a {
  background-color: #f09b82;
}

li.qty12 a {
  background-color: #ee937d;
}
