// Orchid's stylesheets declared for auto and pre-compilation in
// javascripts/orchid.js because link_tree directive does not work here


// Orchid-wide Styles
// ==================

// Classes
// =======
.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-bottom-lg {
  margin-bottom: 1.5em;
}
.buffer-bottom-sm {
  margin-bottom: 0.5em;
}
.buffer-bottom-xl {
  margin-bottom: 2em;
}
.buffer-right {
  margin-right: 1em;
}
.buffer-right-lg {
  margin-right: 1.5em;
}
.buffer-right-sm {
  margin-right: 0.5em;
}
.buffer-right-xl {
  margin-right: 2em;
}

// uncollapse if no javascript
.no-js .collapse { display: block; }

// Unique Elements
// ===============
#content-wrapper {
  margin-bottom: 3em;
}
#footer {
  margin-bottom: 9em;
}

// Language Switching
// ==================

.language_link {
  display: inline-block;
  padding-bottom: .3em;

  .active {
    border: 1px solid $gray-light;
    font-weight: 800;
    padding: .3em;
  }
}

// Links
// =====

#content-wrapper, 
#footer p {
   a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration-thickness: 2px;
  }
}


// Site Section-specific
// =====================

// Search Pages
.page_search, .search_preset {
  .pagination_container {
    text-align: right;

    .pagination {
      margin: 0;
    }
  }

  .search-filters {
    min-height: 2.75em;
  }
}

.panel-heading-link > .panel-heading {
  color: $gray-dark;
  background-color: $panel-default-heading-bg;
  border-color: $panel-inner-border;
}

// Index Pages
.index_num {
  font-size: 1.2em;
  text-align: right;
  vertical-align: top;
}

.index_spacer {
  vertical-align: top;

  span {
    display: block;
    width: 2em;
    height: 1.2em;
    margin: 0 .5em;
    border-bottom: 1px dotted #333;
  }
}

.index_table {
  tr:hover {
    background-color: #fff;
  }

  a {
    display: block;
  }
}

// Search Results

.search_results_highlights {
  p:before {
    content: "… ";
  }

  p:after {
    content: " …";
  }
}


// Back to Top link


.back_to_top a {
  background: #fff;
  text-decoration: none;
  font-weight: 500;
  border: solid 1px $gray-lighter;
  bottom: 0;
  box-shadow: 0px 0px 5px 3px rgba($gray-dark,0.3);
  padding: .5rem 2rem 0.5rem 1.25rem; // .1em 1em .3em 1em; 
  position: fixed;
  right: 2%;
  z-index: 1000;

  &:hover {
  color: #000;
  background-color: $gray-lighter;
  }

  &:after {
    content: "\2191";
    position: relative;
    top: -1px;
    left: 6px;
  }
}