// Orchid's stylesheets declared for auto and pre-compilation in
// javascripts/orchid.js because link_tree directive does not work here


// Orchid-wide Styles
// ==================

// Classes
// =======
.bottom-buffer {
  margin-bottom: 1em;
}
.bottom-buffer-lg {
  margin-bottom: 1.5em;
}
.bottom-buffer-sm {
  margin-bottom: 0.5em;
}
.bottom-buffer-xl {
  margin-bottom: 2em;
}


// Unique Elements
// ===============
#content-wrapper {
  margin-bottom: 3em;
}
#footer {
  margin-bottom: 9em;
}


// Site Section-specific
// =====================
.site_search {
  .pagination_container .pagination {
    margin: 0;
  }

  .search-filters {
    margin-bottom: 0.75em;
    min-height: 2em;
  }
}
