// Orchid's stylesheets declared for auto and pre-compilation in
// javascripts/orchid.js because link_tree directive does not work here


// Orchid-wide Styles
// ==================

// Classes
// =======
.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-bottom-lg {
  margin-bottom: 1.5em;
}
.buffer-bottom-sm {
  margin-bottom: 0.5em;
}
.buffer-bottom-xl {
  margin-bottom: 2em;
}
.buffer-right {
  margin-right: 1em;
}
.buffer-right-lg {
  margin-right: 1.5em;
}
.buffer-right-sm {
  margin-right: 0.5em;
}
.buffer-right-xl {
  margin-right: 2em;
}

// uncollapse if no javascript
.no-js .collapse { display: block; }

// sr-only with clip instead of position: absolute
.sr-only-clip {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7  */
  clip: rect(1px, 1px, 1px, 1px); /* other legacy browsers */
  clip-path: inset(50%); /* modern browsers */
  border: 0;
  display: inline-block;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

// Unique Elements
// ===============
#content-wrapper {
  margin-bottom: 3em;
}
#footer {
  margin-bottom: 9em;

  .footer_logo a {
    display: inline-block;
  }
}

// Language Switching
// ==================

.language_link {
  display: inline-block;
  padding-bottom: .3em;

  .active {
    border: 1px solid $gray-light;
    font-weight: 800;
    padding: .3em;
  }
}

// Links
// =====

// Undoing Bootstrap's lack of link decoration
.main-content, 
#footer p {
   a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration-thickness: 2px;
  }
}

.main-content, 
#footer p {
  a.btn,
  a.btn:hover {
    text-decoration: none;
  }
}

// Undoing Boostrap's focus outline overrides
a:focus {
  outline-offset: initial;
}

// Back to Top link

.back_to_top a {
  background: #fff;
  text-decoration: none;
  font-weight: 500;
  border: solid 1px $gray-lighter;
  bottom: 0;
  box-shadow: 0px 0px 5px 3px rgba($gray-dark,0.3);
  padding: .5rem 2rem 0.5rem 1.25rem; // .1em 1em .3em 1em; 
  position: fixed;
  right: 2%;
  z-index: 1000;

  &:hover {
  color: #000;
  background-color: $gray-lighter;
  }

  &:after {
    content: "\2191";
    position: relative;
    top: -1px;
    left: 6px;
  }
}


// Site Section-specific
// =====================

// Search Pages
.page_search, .search_preset {
  .pagination_container {
    text-align: right;

    .pagination {
      margin: 0;
    }
  }

  .search-filters {
    min-height: 2.75em;
  }
}


.search_form .searchbox {

  .row > div:first-child {
    margin-bottom: 20px;
  }
  .panel-body {
    padding: 18px;
  }

  .panel-search-help {
    border: none;
    box-shadow: none;
    margin: 0;

    .panel-heading-link {

      > h2.panel-heading {
        background-color: initial;
        border: none;
        border-radius: initial;
        color: inherit; // Use variable for link color
        display: inline;
        font-size: 16px;
        margin: 0;
        padding: 0 0 0 5px;

        .glyphicon {
          font-size: 12px;
          margin-left: 5px;
        }

        .panel-title {
          font-size: inherit;
        }
      }
    }
    
    .panel-body {
      padding: 5px;

      .well {
        margin-top: 6px;

        > h3 {
          font-size: 2.5rem;

          &:first-of-type {
            margin-top: 6px;
          }
        }
      }
    }
  }
}

// Facet panels

.panel-heading-link > .panel-heading {
  color: $gray-dark;
  background-color: $panel-default-heading-bg;
  border-color: $panel-inner-border;
}

.searchbox .input-group .form-control:first-child {
  height: 100%;
}

.clear_main_search_text {
  line-height: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: initial;
}

.panel-filter.badge {
  margin-left: 2px;
}

.badge {
  margin-left: 2px;
  margin-top: -3px;
}

// Search Results

.search_results_highlights {
  p:before {
    content: "… ";
  }

  p:after {
    content: " …";
  }
}

// Browse / Index Pages
// =====================

.action_browse_facet {

  ul.nav-tabs li {
    a {
      background: white;
      border-left-color: #aaa;
      border-right-color: #aaa;
      border-top-color: #aaa;
      border-bottom-color: $gray-dark;
      text-decoration: none;
    }

      &:not(.active) a {
      &:focus-visible,
      &:hover {
        background: darken($navbar-default-bg, 6.5%);
        border-color: $gray-light;
        color: $gray-dark;
      }
    }
  }

  .browse-results ul {
    display: table;
    list-style: none;
    padding-left: 0;

    li {
      margin-left: -2px;

      a {
        display: flex;
        padding: 2px 2px 4px 2px;

        &:hover {
          background-color: white;
        }

        p {
          margin: 0;
        }
        
        .index_name_col {
          display: flex;
          flex-grow: 1;

          .index_separator {
            border-bottom: 1px dotted #333;
            flex-grow: 1;
            height: calc(100% - 4px); // 1.975rem;
            margin: 0;
            min-width: 3rem;
          }
        }
      }
    }
  }
}

.index_num {
  font-size: inherit;
}

// Bootstrap navbar alignment fixes
// =====================

$navbar-link-height: ($navbar-height - 2px); 

.navbar-default .navbar-nav > li > a {
  min-height: $navbar-link-height;
}

@media screen and (min-width: $screen-md) {
  header .navbar-default .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
}