// Orchid's stylesheets declared for auto and pre-compilation in
// javascripts/orchid.js because link_tree directive does not work here


// Orchid-wide Styles
// ==================

// Classes
// =======
.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-bottom-lg {
  margin-bottom: 1.5em;
}
.buffer-bottom-sm {
  margin-bottom: 0.5em;
}
.buffer-bottom-xl {
  margin-bottom: 2em;
}
.buffer-right {
  margin-right: 1em;
}
.buffer-right-lg {
  margin-right: 1.5em;
}
.buffer-right-sm {
  margin-right: 0.5em;
}
.buffer-right-xl {
  margin-right: 2em;
}


// Unique Elements
// ===============
#content-wrapper {
  margin-bottom: 3em;
}
#footer {
  margin-bottom: 9em;
}

// Language Switching
// ==================

.language_link {
  display: inline-block;
  padding-bottom: .3em;

  .active {
    border: 1px solid $gray-light;
    font-weight: 800;
    padding: .3em;
  }
}


// Site Section-specific
// =====================

// Search Pages
.site_search {
  .pagination_container {
    text-align: right;

    .pagination {
      margin: 0;
    }
  }

  .search-filters {
    min-height: 2.75em;
  }
}

// Index Pages
.index_num {
  font-size: 1.2em;
  text-align: right;
  vertical-align: top;
}

.index_spacer {
  vertical-align: top;

  span {
    display: block;
    width: 2em;
    height: 1.2em;
    margin: 0 .5em;
    border-bottom: 1px dotted #333;
  }
}

.index_table {
  tr:hover {
    background-color: #fff;
  }

  a {
    display: block;
  }
}

// Search Results

.search_results_highlights {
  p:before {
    content: "… ";
  }

  p:after {
    content: " …";
  }
}
