<!DOCTYPE html>
<html>
  <%= render "layouts/head/head" %>
  <body>
    <div id="body-wrapper">
      <%= render "layouts/body/header" %>
      <%= render "layouts/body/contents" %>
      <%= render "layouts/body/footer" %>
    </div>
  </body>
</html>
