<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head/head" %>
  <body>
    <div class="main">
      <%= render partial: "layouts/body/header" %>
      <%= render partial: "layouts/body/contents" %>
      <%= render partial: "layouts/body/footer" %>
    </div>
  </body>
</html>
